.Shopping-cart {
  top: rem-calc(136);
  max-width: 320px;
  width: 100%;
  transition: all 0.2s ease-in-out;
  
  .icon {
    width: 45px;
    height: 45px;
    background-color: $main-brand-color;
  }

  &.cart-close {
    right: -22rem;
  }

  &.cart-open {
    right: 0;
  }
}