.Hero {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: rem-calc(100);
  padding-bottom: rem-calc(200);
  margin-bottom: 20rem;

  h1, h2, h3, h4 {
    text-transform: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.0);
    z-index: 1;
  }

  &__content,
  &__media {
    width: 50%;
    position: relative;
    z-index: 1;
  }

  &__feature-section {
    max-width: rem-calc(1280);
    color: $black;
    width: 90%;
    height: rem-calc(380);
    margin: 0 auto;
    position: absolute;
    bottom: -15rem;
    z-index: 1;
    background: $white;
    box-shadow: 0 12px 44px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px 0;
  }
}