/* src/components/Header.css */

.Header {
  background-color: $main-brand-color;
  color: $white;

  &__logo-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    vertical-align: center;
  }

  a, button {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}