@use "sass:math";

@function rem-calc($values) {
  $rem-values: ();
  $count: length($values);

  @for $i from 1 through $count {
    $value: nth($values, $i);
    $rem-value: math.div($value, 16) * 1rem; // 16 is the usual base font size in browsers
    $rem-values: append($rem-values, $rem-value);
  }

  @if $count == 1 {
    @return nth($rem-values, 1);
  }

  @return $rem-values;
}
