// Screens
@mixin media($keys...) {
  @each $key in $keys {
    @if ($key == sm()) {
      @include sm() {
        @content;
      }
    } @else if ($key == md()) {
      @include md() {
        @content;
      }
    } @else if ($key == lg()) {
      @include lg() {
        @content;
      }
    }
  }
}

@mixin sm() {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin md($keys...) {
  @each $key in $keys {
    @if ($key == landscape) {
      @media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
        @content;
      }
    } @else if ($key == portrait) {
      @media screen and (min-width: 641px) and (max-width: 768px) and (orientation: portrait) {
        @content;
      }
    } @else {
      @media screen and (min-width: 641px) and (max-width: 1024px) and (orientation: landscape) {
        @content;
      }
    }
  }
}

@mixin lg() {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@-webkit-keyframes colors {
  0% {
    stroke: $white;
  }
  25% {
    stroke: $white;
  }
  50% {
    stroke: $white;
  }
  75% {
    stroke: $white;
  }
  100% {
    stroke: $white;
  }
}

@keyframes colors {
  0% {
    stroke: $white;
  }
  25% {
    stroke: $white;
  }
  50% {
    stroke: $white;
  }
  75% {
    stroke: $white;
  }
  100% {
    stroke: $white;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
