$white: #fff;
$black: #222625;
$black-default: #000000;

$grey-2: #fafafa;
$grey-10: #e6e6e6;
$grey-20: #cccccc;
$grey-40: #a0a0a0;
$grey-80: #313232;

$light-accent: #84aeb6;
$main-brand-color: #284c6c;
$dark-accent: #3a96b9;
$dark-shade: #1c2625;

$global-font-size: 100%;

$base-font: "Lato", sans-serif;